body {
    background-color: #2D4761;
    color: #E4F2F5;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  header h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .produtos-relacionados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .produto-card {
    background-color: #F8F8F8;
    color: #182442;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
  }
  
  .img-produto {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .botao-ver {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2D4761;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .botao-ver:hover {
    background-color: #283A60;
  }
  .but {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #283A60;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .but:hover {
    background-color: #435e97;
  }
  body {
    text-align: center; /* Centraliza blocos dentro do body */
    background-color: #283A60;
  }