@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300&display=swap');
*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
overflow-x: hidden;
font-family: "Montserrat",serif;
}
html{
    scroll-behavior: smooth;
    padding: 0px 0px 15px 0px;

}
header{
    padding: 10px 0px 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #283A60;
}
header nav ul{
    list-style: none;
    text-align: center;
}
header nav ul li{
    display: inline;

    }
header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #E4F2F5;
    padding: 2px 20px;
    display: inline-block;
    border: 8px solid #283A60;
    transition: 1s;
    border-radius: 8px;

}
header nav ul li a:hover{
    color: #E4F2F5;
    transition: 1s;
    border: 1px solid #E4F2F5;border-radius: 8px;
}

body{
    background-color: #2D4761;

}
section{
    width:100%;
    height: 500px;
    color: #E4F2F5;

}
section, footer{
    padding-top: 60px;
}
section:nth-child(even){
    background-color: #2D4761;
}
.borda0{
    border: none;
}
.borda1{
    border: none;
    font-size: 40px;
}
.borda2{
    border: none;
}
.flexivel{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
article{
    width: 100%;
    text-align: center;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.conteinercursos{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.footer{
    width:100%;
    height: 100px;
    color: #E4F2F5;
    font-family: "Montserrat"    sans-serif; 
    text-align: center;
}
.mini{
    width: 49%;
    padding: 10px;
    cursor: pointer;
}
.parallax{
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.p1{
    background-image: url(./img/p1.jpg);
}
.p2{
    background-image: url(./img/p2.jpg);
}
.app{
    width: 100px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
.app:hover{
    width: 120px;
    height: 120px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
.imgy{
    width: 200px;
    height: 120px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
.imgy:hover{
    width: 220px;
    height: 130px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
.ultima{
    text-align: center;
    font-size:20px;
    padding: 0px;
}
.flexivel{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 300px;
    padding: 3px;
}
.ico{
    text-align: right;
    float: right;
    border: 40px;
}

.prd{
    text-align: center;
}
.box1{
    box-shadow: 0 8px 10px rgba(0,0,0,0.1);
    width: 24%;
    height: 400px;
    background-color: #F8F8F8; 
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
    display: inline-block; 
    color: #182442;
}

.img{
    border-radius: 5px;
    align-items: center;
}
.secmen{
    height: 200px;
    padding-top: 100px;
}
.secmen2{
    height: 200px;

}


.but {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #9a9fa3;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .but:hover {
    background-color: #283A60;
  }
  .but1 {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #9a9fa3;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .but1:hover {
    background-color: #28602f;
  }
  